<div class="cont">

  @for (item of products; track $index) {
    <div class="card" style="width: 18rem;" (click)="show(item.id,item.name)">
  <img [src]="item.image" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{item.name}}</h5>
    <p class="card-text">price: {{item.price}}</p>
    <p>Spiciness: {{item.spiciness}}</p>
    <div class="spanrow">
        <span>
  @if (item.nuts) {
    <i class="fa-solid fa-check" style="color: green;"></i>
  } @else {
    <i class="fa-solid fa-x" style="color: red;"></i>
  }
  Nuts
</span>

<span>
  @if (item.vegeterian) {
    <i class="fa-solid fa-check" style="color: green;"></i>
  } @else {
    <i class="fa-solid fa-x" style="color: red;"></i>
  }
  Veg
</span>
    </div>
    
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
  }
</div>


